$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$alternative-text-color: #E86424;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5em;

@mixin flexCenter($direction, $content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}
@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body{
    background-color: $primary-color;
    font-family: $font-stack;
}

nav{
    height: 100px;
    width: auto;
    @include flexCenter(row, space-between, center);
    p{
        font-size: $paragraph-size;
        padding: 0 0 0 30px;
    }
    .icons{
        display: flex;
        gap: 15px;
        padding: 0 30px 0 0;
        @include buttonStyle();
    }
}
article{
    color: $primary-text-color;
    padding: 70px 45px 0 45px;
    @include flexCenter(row, space-between, center);
    .impact-section{
        @include flexCenter(column, space-evenly, flex-start);
        gap: 15px;
        padding-top: 50px;
    }
    h1{
        font-size: 3em;
        padding: 0;
        margin: 0;
    }
    p{
        font-size: $paragraph-size;
    }
    @include buttonStyle();
    button{
        width: 15vw;
        margin-top: 30px;
        padding: 20px;
        background-color: $quaternary-color;
        border-radius: 35px;
        color: white;
        font-size: 1em;
        font-weight: bold;
        &:hover{
            transform: scale(1.1);
        }
    }
    img{
        width: 25vw;
        border-radius: 19px;
    }
}
section{
    width: auto;
    height: auto;
    padding: 60px;
    h2{
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare{
        padding: 0 0 60px 0;
        h2{
            font-weight: 300;
            padding: 0 0 60px 0;
        }
        .card-section{
            width: auto;
            height: auto;
            @include flexCenter(row, space-evenly, center);
            flex-wrap: wrap;
            column-gap: 100px;
            row-gap: 80px;
        }
        .product-card{
            width: 20vw;
            height: 45vh;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            .icon{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-end;
                padding: 2px 2px 12px 2px;
                svg{
                    width: 28px;
                    height: 28px;
                    stroke: #7C6A0A;
                    stroke-width: 2;
                }
            }
            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 20vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                    padding: 10px;
                }
            }
            h3{
                margin: 10px auto;
            }
        }
    }

    .furniture{
        @extend .healthcare;
        .product-card{
            background-color: $tertiary-color;
            color: white;
        }
    }
}

.about-us{
    padding-bottom: 60px;
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .mission-section{
        @include flexCenter(row, space-evenly, center);
        .earth{
            width: 25vw;
            display: flex;
            gap: 40px;
            color: $alternative-text-color;
            img{
                object-fit: contain;
            }
            p{
                text-align: center;
                font-size: $paragraph-size;
            }
        }
    }
    .innovation{
        @extend .earth;
    }
}
.gallery{
    h2{
        font-weight: bold;
        padding-bottom: 60px
    }
    .gallery-images{
        @include flexCenter(row, space-between, center);
        img{
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.location{
    color: $alternative-text-color;
    h2{
        padding: 60px 0 60px 0;
    }
    .map{
        @include flexCenter(row, center, center);
        padding: 0 0 50px 0;
    }
    h3{
        padding: 10px 0 10px 0;
        font-size: 1.5em;
    }
    p{
        font-size: $paragraph-size;
    }
}

footer{
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    padding: 40px;
    color: white;
    h3{
        font-size: $paragraph-size;
        padding-bottom: 20px;
    }
    p{
        padding: 10px 0;
        font-size: 1.1em;
    }
    .social-media{
        @include flexCenter(row, center, center);
        gap: 40px;
        padding-bottom: 40px;
    }
}